
@font-face {
    font-family: 'Wavehaus';
    src: url('../fonts/Wavehaus.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stuxiiy';
    src: url('../fonts/Stuxiiy.ttf');
    font-weight: normal;
    font-style: normal;
}

.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -55px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {

}

.background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bfbaa4;
    background-image: linear-gradient(rgb(176, 175, 144) .1em, transparent .1em), linear-gradient(90deg, rgb(176, 175, 144) .1em, transparent .1em);
    background-size: .5em .5em;
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
p {
    color: white;
    text-align: center;
}

li {
    color: white;
    font-family: 'Wavehaus';

}

h3 {
    color: white;
    font-family: 'Wavehaus';

}

h2 {
    color: white;
    text-align: center;
    font-family: 'Wavehaus';

}

body::-webkit-scrollbar{
    display: none;
}

.navbar-title {
    color: white;
    font-family: 'Stuxiiy';
    font-size: 40px;
    padding-right: 60px;
}

.navbar-links {
    color: white;
    font-family: 'Stuxiiy';
    font-size: 20px;
    padding-right: 20px;
}

.navbar-links:hover { color: #b6b6b6; text-decoration: none;}

.navbar {
    background-color: #7a786a;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.circle1 {
    width: 60rem;
    height: 60rem;
    border-radius: 50%;
    border: 4px solid #7a786a;
    position: fixed; /* Fixed positioning to keep it in place */
    left: -30rem; /* Start off-screen */
    bottom: -30rem;
    z-index: 1;
}


.circle2 {
    width: 55rem;
    height: 55rem;
    border-radius: 50%;
    border: 4px solid #7a786a;
    position: fixed; /* Fixed positioning to keep it in place */
    transform: rotate(45deg);
    left: -27.5rem; /* Start off-screen */
    bottom: -27.5rem;
    z-index: 1;
}

.circle3 {
    width: 60rem;
    height: 60rem;
    border-radius: 50%;
    border: 4px solid #7a786a;
    position: fixed; /* Fixed positioning to keep it in place */
    top: -30rem; /* Start off-screen */
    right: -30rem;
    z-index: 1;

}
.circle4 {
    width: 55rem;
    height: 55rem;
    border-radius: 50%;
    border: 4px solid #7a786a;
    position: fixed; /* Fixed positioning to keep it in place */
    transform: rotate(45deg);
    top: -27.5rem; /* Start off-screen */
    right: -27.5rem;
    z-index: 1;

}

.line1 {
    border-bottom: 4px solid rgb(122, 120, 106);
    width: 60rem;
    transform: rotate(-45deg);
    transform-origin: right;
    position: fixed;
    left: -15rem;
    bottom: 40rem;
    z-index: 1;

}

.line2 {
    border-bottom: 4px solid rgb(122, 120, 106);
    width: 60rem;
    transform: rotate(-45deg);
    transform-origin: right;
    position: fixed;
    left: -20rem;
    bottom: 40rem;
    z-index: 1;

}

.line3 {
    border-bottom: 4px solid rgb(122, 120, 106);
    width: 60rem;
    transform: rotate(-45deg);
    transform-origin: right;
    position: fixed;
    left: -30rem;
    bottom: 40rem;
    z-index: 1;

}

.line4 {
    border-bottom: 4px solid rgb(122, 120, 106);
    width: 60rem;
    transform: rotate(-45deg);
    transform-origin: right;
    position: fixed;
    right: 0rem;
    top: 0rem;
    z-index: 1;

}

.line5 {
    border-bottom: 4px solid rgb(122, 120, 106);
    width: 60rem;
    transform: rotate(-45deg);
    transform-origin: right;
    position: fixed;
    right: 2rem;
    top: -5rem;
    z-index: 1;

}

.line6 {
    border-bottom: 4px solid rgb(122, 120, 106);
    width: 60rem;
    transform: rotate(-45deg);
    transform-origin: right;
    position: fixed;
    right: -25rem;
    top: -10rem;
    z-index: 1;

}

@media (max-width: 768px) {
    .circle1 {
        width: 30rem; /* Adjust the size for smaller screens */
        height: 30rem;
        left: -15rem; /* Adjust the position for smaller screens */
        bottom: -15rem;
    }
    .circle2 {
        width: 27.5rem; /* Adjust the size for smaller screens */
        height: 27.5rem;
        left: -13.75rem; /* Adjust the position for smaller screens */
        bottom: -13.75rem;
    }
    .circle3 {
        width: 30rem; /* Adjust the size for smaller screens */
        height: 30rem;
        right: -15rem; /* Adjust the position for smaller screens */
        top: -15rem;
    }
    .circle4 {
        width: 27.5rem; /* Adjust the size for smaller screens */
        height: 27.5rem;
        right: -13.75rem; /* Adjust the position for smaller screens */
        top: -13.75rem;
    }
    .line1 {
        width: 30rem;
        left: -7.5rem;
        bottom: 20rem;
    }
    .line2 {
            width: 30rem;
            left: -10rem;
            bottom: 20rem;
        }
    .line3 {
            width: 30rem;
            left: -15rem;
            bottom: 20rem;
        }
    .line4 {
            width: 30rem;
            right: 0rem;
            top: 0rem;
        }
    .line5 {
            width: 30rem;
            right: 1rem;
            top: -2.5rem;
        }
    .line6 {
            width: 30rem;
            right: -12.5rem;
            top: -5rem;
        }

}
