
@font-face {
    font-family: 'Wavehaus';
    src: url('../fonts/Wavehaus.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stuxiiy';
    src: url('../fonts/Stuxiiy.ttf');
    font-weight: normal;
    font-style: normal;
}

.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -55px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: linear-gradient(132deg, #252525, #9f9f9f);
    background-size: 400% 400%;
    animation: BackgroundGradient 200s ease infinite
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
p {
    color: white;
    text-align: center;
}

li {
    color: white;
    font-family: 'Wavehaus';

}

h3 {
    color: white;
    font-family: 'Wavehaus';

}

h2 {
    color: white;
    text-align: center;
    font-family: 'Wavehaus';

}

body::-webkit-scrollbar{
    display: none;
}

.navbar-title {
    color: white;
    font-family: 'Stuxiiy';
    font-size: 40px;
    padding-right: 60px;
}

.navbar-links {
    color: white;
    font-family: 'Stuxiiy';
    font-size: 20px;
    padding-right: 20px;
}

.navbar-links:hover { color: #b6b6b6; text-decoration: none;}